<?xml version="1.0"?>
<!--
/**
 * NeutromeLabs AiLand Frontend Routes
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ailand" frontName="ailand">
            <module name="NeutromeLabs_AiLand"/>
        </route>
    </router>
</config>
